
@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');

body {
  font-family: 'Courgette';
}

ul {
 
  list-style-type: none;
  text-align: center; 
  padding: 0;
  margin: 0;
  
}
li {
  display:inline-block;
  padding: 3%;
}
button {
    border: 1px solid black;
    border-radius: 4px;
}
a {
    text-decoration: none;
    color:black;
    /* margin: 5%; */
   
}
.docList {
  display: grid;
  grid-template-columns: auto auto;
  /* margin: 4%; */
}
.docList:hover {
    box-shadow: 20px 20px 20px rgb(201, 201, 154);
    border-radius: 20px;
}
.landingBg {
    border-radius: 8px;
    height: 75%;
    width: 75%;
    box-shadow: 15px 15px 15px rgb(201, 201, 154);
}